<% provide(:title, t("courses.courses")) %>
<% provide(:button_text, t("courses.save")) %>
<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%= t "courses.courses" %></li>
    <li><a href=""><%= t"courses.edit" %></a></li>
  </ul>
  <div class="block full">
    <div class="block-title text-center">
        <h1><%= t"subject.edit.title" %></h1>
    </div>
      <%= render "form", course: @course %>
  </div>
</div>
